# Ignore everything
*
# Allow list
!games/
!i18n/
!public/
!jsconfig.json
!tsconfig.json
!LICENSE
!next.config.js
!package-lock.json
!package.json
!postcss.config.js
!tailwind.config.js
!backend/server.js
!backend/load-game.js
!src/
!.env
!docker/frontend-start.sh
